header{
    text-align: center;
    background-size: cover;
    height: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

header h1{
    font-size: 4em;
    font-weight: 200;
    text-shadow:0px 2px 4px black;
}


.intro{
    background-image: url("assets/homebg.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px;
    max-width: 100%;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight:900;
    font-size:larger;
}

.section-heading {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-weight: bold;
}

.sec-content-div {
    font-size: 2rem;
    text-align: start;
    padding: 0 2rem 5rem 2rem;
    width: auto;
    justify-content: space-around;
    max-width: 95rem;
    margin: 0 auto;
}

.sec-padding {
    padding: 8rem 0 3rem 0;
}

.tile {
    background-color: #fafafa;
    height: 300px;
    width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    transition: all 0.2s;
    padding: 1.5rem;
    margin: 2.2rem;
    display:inline-block;
  }

  @media (max-width: 300px) {
    .tile {
      width: auto;
      max-width: 100%;
      min-width: 20rem;
      margin: auto;
      height: auto;
    }
  }

  .tile h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
    color: black;
    margin: 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }


  .tile img {
    width: 250px;
    height: 250px;
  }

  .tile:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
  }

.pic{
    margin: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.types{
    text-align: center;
    height: 350px;
    padding: 20px;
    margin-bottom: 80px;
}

.type{
    margin: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.pic:hover{
    transform: scale(1.20);
}

.type:hover{
    transform: scale(1.20);
}

footer{
    text-align: center;
    background-color: white;
    padding: 1px;
    clear: left;
}

#about{
    float: left;
}

.explore{
    background-color: lightblue;
    height: 450px;
    margin-bottom: 250px;
}

.explore p{
    margin-left: 600px;
}

#desc{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 50px;
    margin-left: 50px;
}

.explore button{
    background-color: lightblue;
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
}

.explore h1{
    padding: 25px;
    margin-left: 580px;
}